<script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>
<style>
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);

html,
body {
  background-color: #00bfff;
  text-align: center;
  font-family: 'Raleway', Helvetica, sans-serif;
  min-width: 320px;
}

header {
  font-size: 2em;
  font-weight: bold;
  margin: 20px;
}

#form-outer {
  background-color: rgb(250, 250, 250);
  margin: 0 auto;
  border-radius: 4px;
  width: 75%;
  max-width: 900px;
  padding: 10px;
  padding-top: 20px;
}

.labels {
  display: inline-block;
  text-align: right;
  width: 40%;
  padding: 5px;
  vertical-align: top;
  margin-top: 10px;
}

.rightTab {
  display: inline-block;
  text-align: left;
  width: 48%;
  vertical-align: middle;
}

.input-field {
  height: 20px;
  width: 280px;
  padding: 5px;
  margin: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}

#userAge {
  width: 40px;
}

.userRatings,
input[type="checkbox"] {
  float: left;
  margin-right: 5px;
}

#submit {
  background-color: #1a8cff;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  height: 40px;
  width: 96px;
  margin: 10px;
  border: 0px solid;
}

#reset {
  background-color: #1a8cff;
  border-radius: 4px;
  color: white;
  font-size: 1em;
  height: 40px;
  width: 96px;
  margin: 10px;
  border: 0px solid;
}
.role {
  height: 35px;
  width: 140px;
  padding: 5px;
  margin: 10px;  
  margin-top: 15px;
  border: 1px solid #c0c0c0;
  border-radius: 2px;
}

.radio, .checkbox {
  position: relative;
  left: -43px;
  margin-left: 10px;
  display: block;
  padding-bottom: 10px;
}

@media screen and (max-width: 833px) {
  .input-field {
    width: 80%;
  }
  select {
    width: 90%;
  }
}

@media screen and (max-width: 520px) {
  .labels {
    width: 100%;
    text-align: left;
  }
  .rightTab {
    width: 80%;
    float: left;
  }
  .input-field {
    width: 100%;
  }
  select {
    width: 100%;
  }
}
</style>

<h1 id="title">User Registration</h1>
<a href="/">Home</a>|<a href="/register">Register</a>|<a href="/read">View Students</a>|<a href="/showadmins">View Admin</a>
<div id="form-outer">
  <p id="description">
    To regiter to use the app
  </p>
  <form id="registration-form" method="POST" action="/register">
    <div class="rowTab">
      <div class="labels">
        <label id="uname-label" for="uname">User Name: </label>
      </div>
      <div class="rightTab">
        <input autofocus type="text" name="uname" id="name" class="input-field" placeholder="Enter your User name" required>
      </div>
    </div>
    
    <div class="rowTab">
      <div class="labels">
        <label id="passwd-label" for="passwd">Password: </label>
      </div>
      <div class="rightTab">
        <input type="password" name="passwd" id="passwd" class="input-field" required placeholder="Enter your Password">
      </div>
    </div>
   
    <div class="rowTab">
      <div class="labels">
        <label for="role">Role: </label>
      </div>
      <div class="rightTab">
        <select id="dropdown" name="role" class="role">
        <option disabled value>Select an option</option>
        <option value="Administrator">Admin</option>
        <option value="User">User</option>
        <option value="Viewer">Viewer</option>
        </select>
      </div>
    </div>
   
    <button id="submit" type="submit">Submit</button>
    <button id="reset" type="reset">Reset</button>
  </form>
</div>