<a href="/">Home</a>|<a href="/register">Register</a>|<a href="/read">View Students</a>|<a href="/showadmins">View Admin</a>
<h2> Accounts :</h2>
<table>
   <caption>Response data as requested:</caption>
   <tr>
      <th scope="col">Details</th>
    </tr>
    {% for item in res %}
    <TR> 
       <TD class="c2">{{item}}</TD>
    </TR>
    {% endfor %}
    </table>