{% extends "template.html" %}

{% block content %}
<h1>About: </h1>
<div>
    <p>This is our first attempt to write to mongodb depployment of IAMI kit </p>
    <p>There still some issues like updatinga record and more spcifically adding images </p>
</div>
{% endblock %}