{% extends "template.html" %}

{% block content %}

<h1 id="title">Add Plant Record</h1>

<div align='center'>
  <form action="" method="post" enctype=multipart/form-data novalidate>
    {{ form.hidden_tag() }}
    <table align="center" border="1" width="50%">
      <tr>
        <td>Select file to upload :</td>
        <td><input type=file name=file></td>
      </tr>
      <tr>
        <td align="right">{{ form.plantname.label }} : </td>
        <td>{{form.plantname(size=100)}}</td>
      </tr>
      <tr>
        <td align="right">{{ form.scientificname.label }} :</td>
        <td>{{form.scientificname(size=100)}}</td>
      </tr>
      <tr>
        <td align="right">{{form.plantmaintenance.label}} :</td>
        <td>
          <textarea id="plantmaintenance" name="plantmaintenance" rows="4" cols="50">
          </textarea>
        </td>
      </tr>
      <tr>
        <td align="right">{{ form.plantflower.label }} :</td>
        <td>{{form.plantflower(size=100)}}</td>
      </tr>
      <tr>
        <td align="right">{{ form.soil.label }} :</td>
        <td> <select id="soil_dropdown" name="soil" class="soil">
            <option disabled value>Select an option</option>
            <option value="Well Drained">Well Drained</option>
            <option value="Dry">Dry</option>
            <option value="Potting">Potting</option>
          </select></td>
      </tr>
      <tr>
        <td align="right">{{ form.light.label }} :</td>
        <td>
          <select id="light_dropdown" name="light" class="light">
            <option disabled value>Select an option</option>
            <option value="Full Sun">Full Sun</option>
            <option value="Sunlight">Sunlight</option>
            <option value="Shade">Shade</option>
          </select>
        </td>
      </tr>
      <tr>
        <td align="right">{{ form.water.label }} :</td>
        <td> <select id="water_dropdown" name="water" class="water">
            <option disabled value>Select an option</option>
            <option value="When Dry">When Dry</option>
            <option value="Keep Wet">Keep Wet</option>
            <option value="Very Little">Very Little</option>
            <option value="Soak well and allow to dry">Soak well and allow to dry</option>
            <option value="Only when too dry">Only when to dry</option>
            <option value="When top inch is dry">When top inch is dry</option>
            <option value="Allow to dry completely">Allow to dry completely</option>
            <option value="Once a week">Once a week</option>
            <option value="2-3 Times a week">2-3 Times a week</option>
            <option value="Little water if soil is dry">Little water if soil is dry</option>
          </select></td>
      </tr>
      <tr>
        <td align="right" hidden>{{ form.plantimage.label }} :</td>
        <td hidden>{{form.plantimage(size=100)}}</td>
      </tr>
      <tr>
        <td align="right" hidden>{{ form.plantimagename.label }} :</td>
        <td hidden>{{form.plantimagename(size=100)}}</td>
      </tr>
      <tr>
        <td align="right" hidden>{{ form.plantimagepath.label }} :</td>
        <td hidden>{{form.plantimagepath(size=100)}}</td>
      </tr>
    </table>


    <p>{{ form.submit() }}</p>
  </form>
</div>

{% endblock %}