{% extends "template.html" %}

{% block content %}
<h1 style="color: red;" align="center">ERROR </h1>
<div align="center">
    <p>
    <h2 style="color: red;">Someting went wrong!</h2><br>
    {{ err }}
    </p>


    <br>
    <a href="/">
        <button>Done</button>
    </a>
</div>
{% endblock %}