{% extends "template.html" %}

{% block content %}
<p class="center">
<h1 class="center">Plant Information</h1>

<a href="/read/" ><img src = "/static/flask.png" alt="Welcome to Succulants Plant Information Web Application" border = "0" hight=400 with=500 /> 
 </a>
</p>


{% endblock %}