{% extends "template.html" %}

{% block content %}
<h1>Plant Information</h1>
<a href="/create/"><img src="/static/img/download.jpeg" alt="View" width="20" hight="20"></a>

<BR>
<table border="1" width="80%" align="center">
    <caption>Response data as requested:</caption>
    <tr>
        <th scope="col">Plant name</th>
        <th scope="col">Flower</th>
        <th scope="col">Soil Requirements</th>
        <th scope="col">Light Requirements</th>
        <th scope="col">Water Requirements</th>
        <th scope="col">Plant Maintenance</th>
        <th scope="col">Plant Image</th>
        <th scope="col">View</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
    </tr>

    {% for item in res %}
    <tr>
        <td>{{ item.plantname }}</td>
        <td>{{ item.plantflower }}</td>
        <td>{{ item.soil }}</td>
        <td>{{ item.light }}</td>
        <td>{{ item.water }}</td>
        <td>{{ item.plantmaintenance }}</td>
        <td><img src="/{{item.plantimagepath}}/{{item.plantimagename}}" align="middle" width="200" hight="200"> <br>
        </td>
        <td align="center"><a href="/readme/{{ item._id }}"> <img src="/static/img/view_details.jpeg" alt="View Pant details" width="20" hight="20">
            </a></td>
        <td align="center"><a href="/update/{{ item._id }}"> <img src="/static/img/update.jpeg" alt="Update Plant" width="20" hight="20"> </a></td>
        <td align="center"><a href="/delete/{{ item._id }}"> <img src="/static/img/delete.jpeg" alt="Delete Plant" width="20" hight="20"> </a></td>
    </tr>
    {% endfor %}
</table>



{% endblock %}