{% extends "template.html" %}

{% block content %}
<h1 id="title">{{ title }}</h1>

<div align="center">
<table border="1" width="50%" align="center" >
    <caption>Response data as requested:</caption>
    <th colspan="2"><img src="/{{image}}" align="middle" width="300" hight="300"></th>
    {% for item in res %}
    <tr>
        <td>{{ item }}</td>
        <td>{{ res[item] }}</td>
    </tr>
    {% endfor %}
</table>
<br>
<a href="/">
    <button>Done</button>
</a>
</div>
{% endblock %}