{% extends "template.html" %}

{% block content %}
<h1>Respone to operation</h1>

<table>
   <caption>Response data as requested:</caption>
   <tr>
      <th scope="col">Details</th>
    </tr>
    {% for item in res %}
    <TR> 
       <TD class="c2">{{item}}</TD>
    </TR>
    {% endfor %}
    </table>
    <form action="/">

      <input type="submit" value="Submit">
    </form> 
    {% endblock %}