{% extends "template.html" %}

{% block content %}
<h1 style="color: green;" align="center">Success </h1>
<div align="center">
    <p>
    <h2 style="color: green;">Successfull Operation!</h2><br>
    </p>


    <br>
    <a href="/">
        <button>Done</button>
    </a>
</div>
{% endblock %}