<html>

<head>
    {% if title %}
    <title>{{ title }} Succulents</title>
    {% else %}
    <title>Welcome to Succulent Application</title>
    {% endif %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nedbank.css')}}" >

</head>

<body>
    <img src="/static/flask.png" width="100" height="100" >
    <ul>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Home</a>
            <div class="dropdown-content">
              <a href="/">Let's Start</a>
              <a href="/about/">About</a>
            </div>
        </li>
         <li style="float:right"><a href="/logout/">Logout</a></li>
      </ul>

    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="msg">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</body>

</html>