{% extends "template.html" %}

{% block content %}

<h1 id="title">Update Plant Record</h1>

<div align='center'>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <table align="center" border="1" width="50%">

            <tr>
                <td align="right">Record : </td>
                <td><input type="text" name="id" value="{{id}}" readonly></td>
            </tr>
            <tr>
                <td align="right">{{ form.plantname.label }} : </td>
                <td><input type="text" name="plantname" value="{{res.plantname}}" /></td>
            </tr>
            <tr>
                <td align="right">{{ form.scientificname.label }} :</td>
                <td><input type="text" name="scientificname" value="{{res.scientificname}}" /></td>
            </tr>
            <tr>
                <td align="right">{{ form.plantmaintenance.label }} :</td>
                <td>
                    <textarea id="plantmaintenance" name="plantmaintenance" rows="4" cols="50">{{res.plantmaintenance}}
          </textarea>
                </td>
            </tr>
            <tr>
                <td align="right">{{ form.plantflower.label }} :</td>
                <td><input type="text" name="plantflower" value="{{res.plantflower}}" /></td>
            </tr>
            <tr>
                <td align="right">{{ form.soil.label }} :</td>
                <td> <select id="soil_dropdown" name="soil" class="soil">
                        <option value="{{res.soil}}">{{res.soil}}</option>
                        <option value="Well Drained">Well Drained</option>
                        <option value="Dry">Dry</option>
                        <option value="Potting">Potting</option>
                    </select></td>
            </tr>
            <tr>
                <td align="right">{{ form.light.label }} :</td>
                <td>
                    <select id="light_dropdown" name="light" class="light">
                        <option value="{{res.light}}">{{res.light}}</option>
                        <option value="Full Sun">Full Sun</option>
                        <option value="Sunlight">Sunlight</option>
                        <option value="Shade">Shade</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right">{{ form.water.label }} :</td>
                <td> <select id="water_dropdown" name="water" class="water">
                        <option value="{{res.water}}">{{res.water}}</option>
                        <option value="When Dry">When Dry</option>
                        <option value="Keep Wet">Keep Wet</option>
                        <option value="Very Little">Very Little</option>
                        <option value="Soak well and allow to dry">Soak well and allow to dry</option>
                        <option value="Only when too dry">Only when to dry</option>
                        <option value="When top inch is dry">When top inch is dry</option>
                        <option value="Allow to dry completely">Allow to dry completely</option>
                        <option value="Once a week">Once a week</option>
                        <option value="2-3 Times a week">2-3 Times a week</option>
                        <option value="Little water if soil is dry">Little water if soil is dry</option>
                    </select></td>
            </tr>
            <tr>
                <td align="right">{{ form.plantimage.label }} :</td>
                <td><input type="text" name="plantimage" value="{{res.plantimage}}" /></td>
            </tr>
            <tr>
                <td align="right">{{ form.plantimagename.label }} :</td>
                <td><input type="text" name="plantimagename" value="{{res.plantimagename}}" /></td>
            </tr>
            <tr>
                <td align="right">{{ form.plantimagepath.label }} :</td>
                <td><input type="text" name="plantimagepath" value="{{res.plantimagepath}}" /></td>
            </tr>
        </table>

        <p>{{ form.submit() }}</p>
    </form>
</div>



{% endblock %}